{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<h2 class="movieTitle">{{ movie.title }}</h2>
<h3 class="dateStudioProducer">
    <a href="/studio/{{ movie.studio }}">{{ movie.studio }}</a>
    {% if movie.productionDate %}
         - {{ movie.productionDate }}
    {% endif %}
</h3>
<h3>
    {% if movie.directors %}
        {% for director in movie.directors %}
            <a href="/director/{{ director }}">{{ director }}</a>,
        {% endfor %}
    {% endif %}
</h3>

<table>
    <tr>
        <td align="center" class="coverPicture">
            {% if movie.frontCover %}
                <img src="{{ movie.frontCover.url }}" width="200" alt="Front">
            {% else %}
                <img src="/static/img/x.png" width="200" height="221" alt="No Front Cover">
            {% endif %}
        </td>
        <td>
            {% if movie.backCover %}
                <img src="{{ movie.backCover.url }}" width="200" alt="Back">
            {% else %}
                <img src="/static/img/x.png" width="200" height="221" alt="Back">
            {% endif %}
        </td>
    </tr>
    <tr align="center" style="font-size: smaller;"><td>Front</td><td>Back</td></tr>
</table>

<table style="padding-top: 15px;">
    <tr><td>Duration</td><td>{{ movie.duration }}</td></tr>
    <tr valign="top">
        <td>Actors</td>
        <td>
            {% if movie.actors %}
                {% for actor in movie.actors %}
                    <a href="/actors/{{ actor.person.id }}">{{ actor }}</a>,
                {% endfor %}
            {% else %}
            -
            {% endif %}
       </td>
    </tr>
    {% if movie.description %}
    <tr valign="top">
        <td>Description</td>
        <td>{{ movie.description }}</td>
    </tr>
    {% endif %}
    <tr valign="top">
        <td>Genres</td>
        <td>
            {% if movie.genres %}
                {% for genre in movie.genres %}
                    <a href="/genre/{{ genre.shortDescription }}/">{{ genre.shortDescription }}</a>,
                {% endfor %}
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% if scenes %}
        <tr valign="top">
            <td>Scenes</td>
            <td>
                {% include "scene/_sceneListTable.html" with scenes=scenes %}
            </td>
        </tr>
    {% endif %}
</table>


{% endblock %}
