{% extends "base.html" %}
{% load scene_extras general_extras %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<h2 class="movieTitle">{{ movie.title }}</h2>
<h3 class="dateStudioProducer">
    <a href="/studio/{{ movie.studio }}">{{ movie.studio }}</a>
    {% if movie.productionDate %}
         - {{ movie.productionDate }}
    {% endif %}
</h3>
<h3>
    {% if movie.directors %}
        {% for director in movie.directors %}
            <a href="/director/{{ director }}">{{ director }}</a>,
        {% endfor %}
    {% endif %}
</h3>

<table>
    <tr>
        <td align="center" class="coverPicture">
            {% include "general/__imageEntry.html" with imageField=movie.frontCover alt="Front" width=200 link="image" %}
        </td>
        <td align="center" class="coverPicture">
            {% include "general/__imageEntry.html" with imageField=movie.backCover alt="Back" width=200 link="image" %}
        </td>
    </tr>
    <tr align="center" style="font-size: smaller;"><td>Front</td><td>Back</td></tr>
</table>

<table style="padding-top: 15px;">
    <tr><td>Duration:</td><td>{{ movieDuration|durationToString }}</td></tr>
    <tr valign="top">
        <td>Actors:</td>
        <td>
            {% if movie.actors %}
                {% for actor in movie.actors %}
                    <a href="/actors/{{ actor.id }}">{{ actor.person.getFullName }}</a>,
                {% endfor %}
            {% else %}
            -
            {% endif %}
       </td>
    </tr>

    <tr valign="top">
        <td>Description:</td>
        <td>{{ movie.description|setValue }}</td>
    </tr>

    <tr valign="top">
        <td>Genres:</td>
        <td>
            {% if movie.genres %}
                {% for genre in movie.genres %}
                    <a href="/genres/{{ genre.slug }}/">{{ genre.shortDescription }}</a>,
                {% endfor %}
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    <tr valign="top">
        <td>Scenes:</td>
        <td>{% include "scene/_sceneListTable.html" with scenes=scenes %}</td>
    </tr>
</table>

{% endblock %}
