{% extends "base.html" %}
{% block style %}
    <style>
        .scrollbox {
            font-family: Arial, sans-serif;
            font-size: 11px;
            text-align: left;
            height: 200px;
            width: 180px;
            border: 1px #000000 solid;
        }
    </style>
{% endblock %}
{% block title %}Extended search{% endblock %}

{% block content %}
    <form action="/extendedSearch/" method="post">
        {% csrf_token %}
        Extended search (All terms are AND connected):
        <table class="search">
            <tr><td>Title</td><td colspan="3"><input name="title" type="text" maxlength="100"></td></tr>
            <tr><td valign="top">Actor name</td>
                <td>
                    <select name="actor" class="scrollbox" size=11 multiple>
                        {% for actor in actors %}
                            <option value="{{ actor.person.id }}">{{ actor.person.firstName }} {{ actor.person.lastName }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="top" style="padding-left: 10px;">Genre</td>
                <td>
                    <select name="genre" class="scrollbox" size=11 multiple>
                        {% for genre in genres %}
                            <option value="{{ genre.shortDescription }}">{{ genre.shortDescription }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr><td style="padding-top: 10px" colspan="4" align="right"><input type="submit" value="Search"></td></tr>
        </table>
    </form>
    <script type="text/javascript">
        document.getElementById('title').focus()
    </script>
{% endblock %}
