{% extends "base.html" %}
{% block style %}
    <style>
        .actorDetailTable, .personDetailTable {
            margin: 0;
        }
        .actorDetailTable td, .personDetailTable td {
            padding-left: 20px;
        }
        .actorDetailTable ul {
            list-style-type: circle;
            padding-left: 0px;
        }
        #space {
            height: 30px
        }
    </style>
{% endblock %}

{% block title %}{{ actor.person.getFullName }}{% endblock %}

{% block content %}
    {% include "actor/personDetail.html" with person=actor.person %}
    <div id="space"></div>
    <table class="actorDetailTable">
        <tr align="left" valign="top"><th>Movies</th>
            <td>
                <ul>
                    {% for movie in actor.movies.all %}
                        <li>
                            {% if movie.getAbsoluteUrl %}
                                <a href="{{ movie.getAbsoluteUrl }}">{{ movie.title }}</a>
                            {% else %}
                                {{ movie.title }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr align="left" valign="top"><th>Scenes</th>
            <td>
                <ul>
                    {% for scene in actor.scenes.all %}
                        <li>
                        {% if scene.sceneRelPath %}
                            <a href="{{ scene.sceneRelPath }}">{{ scene.title }}</a>
                        {% else %}
                            {{ scene.title }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

{% endblock %}
