{% extends "base.html" %}
{% block style %}
    <style>
        .actorDetailTable, .personDetailTable {
            margin: 0;
        }
        .actorDetailTable td, .personDetailTable td {
            padding-left: 20px;
        }
        .actorDetailTable ul {
            list-style-type: circle;
            padding-left: 0px;
        }
        #space {
            height: 30px
        }
    </style>
{% endblock %}

{% block title %}{{ actor.person.getFullName }}{% endblock %}

{% block content %}
    {% include "actor/personDetail.html" with person=actor.person %}
    <div id="space"></div>
    <table class="actorDetailTable">
        <tr align="left" valign="top"><th>Scenes:</th>
            <td>
                <ul>
                    {% for scene in actor.scenes.all %}
                        <li><a href="/scenes/{{ scene.sha256 }}">{{ scene.movie.title }}: {{ scene.title }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

{% endblock %}
