{% load scene_extras %}

<table class="scenesTable">
    <tr class="header" align="left"><th>Preview</th> <th>Title</th> <th>Actors</th> <th>Genres</th></tr>
    {% for scene in scenes %}
        {% if scene|allowedToView:user %}
            <tr class="scene">
                <td class="animatedGif">
                    <a href="/scenes/{{ scene.sha256 }}">
                        {% if movie.backCover %}
                            <img src="{{ scene.stillImage }}" onmouseover="{{ scene.animatedImage }}" width="200" height="160" alt="{{ scene.title }}">
                        {% else %}
                            <img src="{{ STATIC_URL }}/img/x.png" width="200" height="160" alt="{{ scene.title }}">
                        {% endif %}
                    </a>
                </td>

                <td>{{ scene.title }}</td>

                <td class="actors">
                    {% if scene.actor_set.all %}
                        {% for actor in scene.actor_set.all %}
                            <a href="/actors/{{ actor.id }}/">{{ actor.person.getFullName }}</a>,
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td class="genres">
                    {% if scene.genre_set.all %}
                        {% for genre in scene.genre_set.all %}
                            <a href="/genres/{{ genre.slug }}/">{{ genre.shortDescription }}</a>,
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
