{% extends "base.html" %}
{% load scene_extras %}

{% block title %}{{ scene.title }}{% endblock %}

{% block content %}
    <table class="sceneDetail">
        <tr class="title" align="left"><th colspan="2">{{ scene.title }}</th></tr>

        <tr class="video" align="left">
            <td colspan="2">
                {% if scene.sceneRelPath %}
                    {% if scene.supportedFormat %}
                        <div id="videoPlayer">
                            <p id="container1">Please install the Flash Plugin</p>
                            <script type="text/javascript">
                                var flashvars = { file:'{{ mediaBasePath }}/{{ scene.sceneRelPath }}',autostart:'false' };
                                var params = { allowfullscreen:'true', allowscriptaccess:'always' };
                                var attributes = { id:'playerID', name:'playerName' };
                                swfobject.embedSWF('/static/js/vendor/player.swf','container1','240','135','9.0.115','false', flashvars, params, attributes);
                            </script>
                        </div>
                    {% else %}
                        Movie format not supported.
                    {% endif %}
                {% else %}
                    <img src="/static/img/x.png" width="200" height="160" alt="{{ scene.title }}">
                {% endif %}
            </td>
        </tr>

        <tr><td align="center" colspan="2">Video Data</td></tr>

        <tr>
            <td>Runtime:</td>
            <td>{{ scene.duration|durationToString }}</td>
        </tr>

        <tr>
            <td>Description:</td>
            <td>
                {% if scene.description %}
                    {{ scene.description }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Genres:</td>
            <td>
                {% if scene.genre_set.all %}
                    {% for genre in scene.genre_set.all %}
                        <a href="/genres/{{ genre.slug }}/">{{ genre.shortDescription }}</a>,
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Actors:</td>
            <td>
                {% if scene.actor_set.all %}
                    {% for actor in scene.actor_set.all %}
                        <a href="/actors/{{ actor.id }}">{{ actor.person.getFullName }}</a>,
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
