{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <h3 class="headline">User details</h3>
    {% if user %}
        <table class="detailTable">
            <tr><td>Login</td><td>{{ user.login }}</td></tr>
            <tr><td>Prename</td><td>{{ user.prename }}</td></tr>
            <tr><td>Lastname</td><td>{{ user.lastname }}</td></tr>
            <tr><td>Groups</td>
                <td>
                    {% if group %}
                        {% for group in user.groups %}
                            {{ group.name }},
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
    {% else %}
        You have to be logged in to view the details
    {% endif %}
{% endblock %}
